* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* outline: 1px solid white; */
}

:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-background2: #1d2325;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-background2: #255998;
    --darkreader-selection-text: #e8e6e3;
}

body {
    background-color: var(--darkreader-neutral-background2);
    color: var(--darkreader-neutral-text);
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 0;
    user-select: none;
}

.Header {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    background-color: var(--darkreader-neutral-background);
    z-index: 3;
}

.Header > * {
    padding: 15px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-sort, .nav-notif {
    text-align: end;
}

.TaskCard {
    border: 1px solid white;
}

.Main {
    padding: 20px;
}

.Category {
    border-radius: 10px;
    border: 1px solid white;
    padding: 2px;
}

.Title {
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.Footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: var(--darkreader-neutral-background);
}

.Footer > * {
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 5;
}

.active {
    font-weight: bolder;
    color: var(--darkreader-selection-background2);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}