* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* outline: 1px solid white; */
}

:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-background2: #1d2325;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-background2: #255998;
    --darkreader-selection-text: #e8e6e3;
    --darkreader-done-task:#d8d4cf80;
}

body {
    background-color: var(--darkreader-neutral-background2);
    color: var(--darkreader-neutral-text);
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
}

#content {
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.overlay {
    position: absolute;
    top:0px;
    left: 0px;
    z-index:20;
    width: 100%;
    min-height: 100%;
    background-color: #131516;
}

.Header {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    background-color: var(--darkreader-neutral-background);
    z-index: 3;
}

.Header > * {
    padding: 15px;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.nav-sort, .nav-notif {
    text-align: end;
}

.task-category {
    padding:10px;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.TaskCard {
    padding: 10px;
    z-index: 2;
    background-color: var(--darkreader-neutral-background);
    display: flex;
    gap:10px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.done-task {
    text-decoration:line-through;
    color: var(--darkreader-done-task);
}

.task-list-today,
.task-list-tomorrow,
.task-list-upcoming,
.task-list-someday {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1px;
}

.Main {
}

.Title {
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.Footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    background-color: var(--darkreader-neutral-background);
    z-index: 10;
}

.Footer > * {
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 5;
}

.active {
    font-weight: bolder;
    color: var(--darkreader-selection-background2);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.AddTaskButton {
    position: fixed;
    bottom: 80px;
    right: 30px;
    font-size: 3rem;
    scale: 3;
    z-index: 10;
}

.AddTask {
    background-color: var(--darkreader-neutral-background);
}

.AddTaskInput {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 10px;
    background-color: var(--darkreader-neutral-background);
    gap:10px;
}

.AddTaskInput > input {
    background-color: var(--darkreader-neutral-background);
    color: var(--darkreader-neutral-text);
    flex: 1;
    font-size: 1.2rem;
    border: none;
    outline: none;
}

.AddTaskInput > span:last-child {
    color: var(--darkreader-selection-background2);
    font-weight: bolder;
}

.AutoSuggestions {
    display: grid;
    padding: 10px;
    gap:20px;
    background-color: var(--darkreader-neutral-background);
    min-height: 100vh;
    align-content: flex-start;
}

.AutoSuggestionItem {
    display: flex;
    gap: 10px;
}

.AutoSuggestionItem > span:first-child {
    color: var(--darkreader-selection-background2);
    font-weight: bolder;
}